.circuit, .circuit svg {
  width: 100%;
  height: 100%;
}
.circuit svg, .circuit svg * {
  z-index: 10;
}
.circuit-component {
  width: 150px;
  height: 100px;
  position: absolute;
  top: 5%;
  left: 5%;
  cursor: move;
  z-index: 0;
}
.circuit-component .circuit-label {
  position: absolute;
  top: 40%;
  left: 25%;
  margin: 0;
}
.circuit-output-component .circuit-label,
.circuit-input-component .circuit-label {
  font-size: 200%;
  top: 28%;
}
.circuit-output-component .circuit-label {
  left: 48%;
}
.circuit-input-component .circuit-label {
  left: 18%;
}
.circuit-xor .circuit-label,
.circuit-eqv .circuit-label{
  left: 40%;
}
.circuit-halfadder,
.circuit-halfsubstractor {
  width: 120px;
}
/*.circuit-halfadder text {
  font-size: 150%;
  font-weight: bolder;
}*/
.circuit-halfadder .circuit-label {
  font-size: 400%;
  font-weight: bolder;
  top: 15%;
}
.circuit-halfsubstractor .circuit-label {
  font-size: 320%;
  font-weight: bolder;
  top: 20%;
  left: 20%;
}
.circuit-component path,
.circuit-component rect,
.circuit-component circle,
.circuit-component polygon,
.circuit-component line {
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-linecap: round;
  fill: none;
  stroke: black;
}

.circuit-input-component,
.circuit-output-component {
  width: 80px;
  height: 80px;
}

.circuit-value-false:before,
.circuit-value-true:before,
.circuit-value-false:before,
.circuit-value-true:before,
.circuit-value-unknown:before {
  display: block;
  position: absolute;
  top: -15px;
  font-size: 1.2em;
}
.circuit-output.circuit-value-false:before,
.circuit-output.circuit-value-true:before,
.circuit-output.circuit-value-unknown:before {
  right: -15px;
}
.circuit-input.circuit-value-false:before,
.circuit-input.circuit-value-true:before,
.circuit-input.circuit-value-unknown:before {
  left: -15px;
}
.circuit-value-interactive:before {
  border: 2px dashed #ccc;
  padding: 5px;
  top: -20px;
}
.circuit-value-incorrect:before {
  border-color: red;
  color: white;
  background-color: rgba(255, 120, 120, 0.5);
}
.circuit-value-correct:before {
  border-color: green;
  color: white;
  background-color: rgba(120, 255, 120, 0.5);
}
.circuit-value-unknown:before {
  content: "??";
  color: red;
  padding: 3px;
  border-color: red;
}
.circuit-value-true:before {
  content: "1";
}
.circuit-value-false:before {
  content: "0";
}
.circuit-input, .circuit-output {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  border: 2px solid #333;
  background-color: #fff;
  z-index: 100;
}
.circuit-output {
  right: -10px;
}
.circuit-output:hover {
  cursor: hand;
}
.circuit-input {
  left: -10px;
  z-index: 200 !important;
}
.circuit-input.over {
  z-index: 200 !important;
}
.circuit-output:hover, .circuit-input.over {
  box-shadow: 0 0 10px green;
}
.circuit-input.circuit-missing {
  border-color: red;
  box-shadow: 0 0 10px red;
}
.circuit-output.ui-draggable-dragging {
  border: none;
  background-color: transparent;
  z-index: 0 !important;
}
.circuit-connector {
  stroke-width: 5px;
  stroke: #aaf;
  fill: none;
}
.circuit-unconnected {
  stroke: #faa;
}