<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Open Graph stuff -->
    <meta property="og:image" content="{{ "/img/lechef-thumb.png" | prepend: site.url }}" />
    <meta property="og:image:secure_url" content="{{ "/img/lechef-thumb.png" | prepend: site.secure_url }}" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="180" />
    <meta property="og:image:height" content="110" />
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:description" content="{{ site.description }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}" />
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
    <link rel="stylesheet" href="{{ "/css/codehighlight.css" | prepend: site.baseurl }}" />
    <link rel="stylesheet" href="{{ "/js/lechef/build/lechef.css" | prepend: site.baseurl }}" />
</head>
