.lechef-circuit, .lechef-circuit svg {
  width: 100%;
  height: 100%;
}
.lechef-circuit {
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.lechef-circuit svg, .lechef-circuit svg * {
  z-index: 10;
}
.lechef-component {
  width: 90px;
  height: 60px;
  position: absolute;
  top: 5%;
  left: 5%;
  cursor: move;
  z-index: 0;
}
.lechef-component .lechef-label {
  position: absolute;
  top: 35%;
  left: 22%;
  margin: 0;
  color: rgb(0, 165, 235);
}
.lechef-output-component .lechef-label,
.lechef-input-component .lechef-label {
  font-size: 130%;
  top: 28%;
}
.lechef-output-component .lechef-label {
  left: 48%;
}
.lechef-input-component .lechef-label {
  left: 18%;
}
.lechef-nor .lechef-label {
  left: 27%;
}

.lechef-or .lechef-label,
.lechef-xor .lechef-label,
.lechef-eqv .lechef-label{
  left: 30%;
}
.lechef-halfadder,
.lechef-halfsubstractor {
  width: 80px;
}
.lechef-halfadder .lechef-label {
  font-size: 200%;
  font-weight: bolder;
  top: 25%;
  left: 30%;
}
.lechef-halfsubstractor .lechef-label {
  font-size: 200%;
  font-weight: bolder;
  top: 20%;
  left: 20%;
}
.lechef-component path,
.lechef-component rect,
.lechef-component circle,
.lechef-component polygon,
.lechef-component line {
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-linecap: round;
  fill: none;
  stroke: rgb(0, 165, 235);
}

.lechef-input-component,
.lechef-output-component {
  width: 50px;
  height: 50px;
}

.lechef-value-false:before,
.lechef-value-true:before,
.lechef-value-false:before,
.lechef-value-true:before,
.lechef-value-unknown:before {
  display: block;
  position: absolute;
  top: -15px;
  font-size: 1.2em;
}
.lechef-output.lechef-value-false:before,
.lechef-output.lechef-value-true:before,
.lechef-output.lechef-value-unknown:before {
  right: -15px;
}
.lechef-input.lechef-value-false:before,
.lechef-input.lechef-value-true:before,
.lechef-input.lechef-value-unknown:before {
  left: -15px;
}
.lechef-value-interactive:before {
  border: 2px dashed #ccc;
  padding: 5px;
  top: -20px;
}
.lechef-value-interactive.lechef-input[data-pos="1"]:before {
  top: 0;
}
.lechef-value-incorrect:before {
  border-color: red;
  color: white;
  background-color: rgba(255, 120, 120, 0.5);
}
.lechef-value-correct:before {
  border-color: green;
  color: white;
  background-color: rgba(120, 255, 120, 0.5);
}
.lechef-value-unknown:before {
  content: "??";
  color: red;
  padding: 3px;
  border-color: red;
}
.lechef-input, .lechef-output {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  border: 2px solid rgb(0, 165, 235);
  background-color: #fff;
  z-index: 100;
}
.lechef-output {
  right: -10px;
}
.lechef-input {
  left: -10px;
  z-index: 200 !important;
}
.lechef-input.over {
  z-index: 200 !important;
}
.lechef-output:hover, .lechef-input.over {
  box-shadow: 0 0 10px green;
}
.lechef-output.ui-draggable-dragging {
  border: none;
  background-color: transparent;
  z-index: 0 !important;
}
.lechef-connector {
  stroke-width: 5px;
  stroke: rgb(0, 165, 235);
  fill: none;
}
.lechef-unconnected {
  stroke: rgb(225, 100, 100);
}
.lechef-input-output tr:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  margin-top: 5px;
  border: 10px solid transparent;
}
.lechef-showfeedback, .lechef-feedback {
  .lechef-connector.lechef-value-false {
    stroke: rgb(120, 120, 120);
  }
  .lechef-input.lechef-missing,
  .lechef-output.lechef-missing {
    border-color: red;
    box-shadow: 0 0 10px red;
  }
  .lechef-value-true:before {
    content: "1";
  }
  .lechef-value-false:before {
    content: "0";
  }
}
.lechef-feedback, .lechef-feedback tr {
  position: relative;
}
.lechef-feedback table {
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.lechef-feedback tbody tr {
  cursor: pointer;
}
.lechef-feedback h2 {
  text-align: center;
}
.lechef-feedback .lechef-close {
  position: absolute;
  left: 10px;
  top: 10px;
}
.lechef-feedback table td {
  text-align: center;
  padding: 5px 20px;
  border: 1px dashed transparent;
  border-left-width: 0;
  border-right-width: 0;
}
.lechef-feedback .lechef-top {
  text-align: center;
}
.lechef-feedback .lechef-correct .lechef-output-table {
  color: greenyellow;
}
.lechef-feedback .lechef-incorrect .lechef-output-table {
  color: #EE5757;
}
.lechef-feedback .lechef-active {
  font-weight: bolder;
}
.lechef-feedback tr.lechef-active:before {
  border-left-color: gray;
  left: -10px;
}
.lechef-feedback .lechef-incorrect.lechef-active td {
  border-color: #EE5757;
}
.lechef-feedback .lechef-correct.lechef-active td {
  border-color: greenyellow;
}
.lechef-buttonpanel {
  text-align: center;
  margin: 1em auto;
}
.lechef-buttonpanel button {
  margin: 0 3px;
}